:root{
  --bg-dark: #0a0a0a;
  --bg: #1a1a1a;
  --bg-light: #2a2a2a;
  --text: #ffffff;
  --text-muted: #eeeeee;
  --highlight: #00ff00;
  --acc: #008000;
}

* {box-sizing: border-box}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-dark);
  color: var(--text-muted);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.tab button {
  display: block;
  background-color: var(--bg);
  color: var(--text-muted);
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: var(--bg-light);
  color: var(--text);
}

.tab button.active {
  background-color: var(--acc);
}

.tab {
  float: left;
  border: 1px solid var(--bg-light);
  background-color: var(--bg);
  width: 30%;
  height: 300px;
}

.tabcontent {
  flex-grow: 1;
  display: none;
  float: left;
  padding: 0px 12px;
  border: 1px solid var(--bg-light);
  width: 70%;
  border-left: none;
  height: 300px;
}
